{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ignorePatterns": ["temp.js", "**/models/location.js"],
  "rules": {
    "eqeqeq": "error",
    "handle-callback-err": "error",
    "comma-dangle": ["error", "never"],
    "eol-last": ["error", "always"],
    "key-spacing": ["error", { "afterColon": true }],
    "no-unused-vars": ["error", { "args": "none" }],
    "semi": ["error", "never"]
  }
}